include header
body
    form(method='POST' action='/')
          button.btn.btn-primary(type='submit' formaction="/index_login") Login
          button.btn.btn-primary(type='submit' formaction="/index_register") Sign up
